<extend name="Public/base"/>
<block name="style">
<style>
</style>
</block>
<block name="content">
	<!--右侧内容开始-->
	      <!-- 
		<div class="input-group line left">
  	      <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
	      <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2">
		</div>
	      <select class="form-control line left">
	          <option>1</option>
	          <option>2</option>
	          <option>3</option>
	          <option>4</option>
	          <option>5</option>
	      </select>
	      <a href="#" class=" btn btn-primary "><span class="glyphicon glyphicon-search"></span></a>
	      <br/><br/>
	       -->
	      <table class="table table-bordered table-striped text-center bg-info">
	          <thead >
	          <tr class="info">
	              <th class="text-center">appid</th>
	              <th class="text-center">应用名</th>
	              <th class="text-center">应用大小</th>
	              <th class="text-center">应用版本</th>
	              <th class="text-center">应用数</th>
	          </tr>
	          </thead>
	          <tbody>
		          <notempty name="list">
			          <volist name="list" id="v">
				          <tr>
				              <td>{$v['appid']}</td>
				              <td>{$v['apps_name']}</td>
				              <td>{$v['apps_size']}</td>
				              <td>{$v['apps_version']}</td>
				              <td>{$v['count']}</td>
				          </tr>
			          </volist>
		          </notempty>
	          </tbody>
	      </table>
	      <div class="page">
		  	  {$_page|default=''}
 		  </div>
	<!--右侧内容结束-->
<script>

$(function(){
});
</script>

</block>