<extend name="Public/base"/>
<block name="content">
	<!--右侧内容开始-->
	<div class="chart">
	    <div class="canvas" >
	        <h3 class="text-primary">网络信息</h3>
	        <div id="container" style="min-width: 700px; height: 400px; margin: 0 auto"></div>
	    </div>
	</div>
	<!--右侧内容结束-->
<script>

var chart;
$(function(){
	getData();
});

/**
 * 获取数据
 */
function getData(){
	var url = '__SELF__';
	$.post(url, function(json){
		if (json.status){
			var options = {
				series: [{
			        name: '占比',
			        colorByPoint: true,
			        data: json.data
			    }]
			};
			chart = initCharts('container', options, 'pie');
		}
	},'json');
}
</script>

</block>