<extend name="Public/base"/>
<block name="content">
	<!--右侧内容开始-->
	<div class="chart">
	    <div class="canvas" >
	        <h3 class="text-primary">折线图</h3>
	        <canvas id="canvas"></canvas>
	    </div>
	    <div  class="canvas">
	        <h3 class="text-primary">柱状图</h3>
	        <canvas id="canvas1" ></canvas>
	    </div>
	</div>
	<!--右侧内容结束-->
<script>
    /*Chart的数据*/
    function lineChart() {
        var ctx = document.getElementById('canvas').getContext("2d")
        var data = {
            labels: ["2014-10", "2014-11", "2014-12", "2015-1", "2015-2", "2015-3"],
            datasets: [{
                label: "My First dataset",
                fillColor: "rgba(200,200,200,0.2)",
                strokeColor: "rgba(200,200,200,1)",
                pointColor: "rgba(200,200,200,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(200,200,200,1)",
                data: [65, 59, 80, 81, 56, 55, 40]
            },
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 86, 27, 90]
                }]
        };
        var salesVolumeChart = new Chart(ctx).Line(data);
    }
    function barChart() {
        var ctx = document.getElementById('canvas1').getContext("2d")
        var data = {
            labels: ["2014-10", "2014-11", "2014-12", "2015-1", "2015-2", "2015-3"],
            datasets: [{
                label: "",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",

                data: [1.27, 1.30, 1.30, 1.41, 1.04, 1.29]
            }]
        };
        var salesVolumeChart = new Chart(ctx).Bar(data, {
            // 点击的小提示
            tooltipTemplate: "<%if (label){%><%=label%> 销量：<%}%><%= value %>万辆"
        });
    }
    // 启动
    setTimeout(function() {
        // 避免IE7-8 调用getContext报错，使用setTimeout
        lineChart()
        barChart()
    }, 0)
    if (/Mobile/i.test(navigator.userAgent)) {
        //针对手机，性能做一些降级，看起来就不会那么卡了
        Chart.defaults.global.animationSteps = Chart.defaults.global.animationSteps / 6
        Chart.defaults.global.animationEasing = "linear"
    }

</script>

</block>